page-sign-in {

  .scroll-content {
    background-color: #833b79;
    display: flex;
    flex-direction: column;
  }

  .signInButton {
    background-color: #e7e2a7;
    color:#5e3958;
    width: 80%;
  }

  img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  
  // .hat1 {
  //   background-image: url('https://seeklogo.com/images/F/food-chief-spoon-logo-778E6F7075-seeklogo.com.png');
  // }

  #cloud-layer {
    background-image: url('https://pictr.com/images/2017/11/05/bdb49fb419ba33bb4a3c6beaab9bbadb.png');
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  ion-item {
    border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: #e7e2a7;
    opacity: 0.7;
    font-size: 0.9em;
  }

  ion-list {
    margin: 0;
  }
  
  .login-button {
    width: 100%;
    border-radius: 30px;
    font-size: 0.9em;
    border: 1px solid #e7e2a7;
    background-color: #39acdc;
  }

}