/*ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}*/
 
map-page {
 
    #map {
        height: 100%;
         width: 100%;
    }
 
}
page-map {
  #map{
    height: 100%;
    width: 100%;
  }
}


/*
fab-size	56px  	

fab-mini-size	 40px	

fab-content-margin 	10px	

fab-list-margin  	10px	

fab-list-button-background-color  	#f4f4f4}*/