<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="user">Welcome {{user[0]}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="card-background-page outer-content">
<button ion-button (click)='sortByRating()' > Sort by Rate </button>
<button ion-button (click)='sortByName()' >Sort by Name</button>
  <div *ngIf="resList">
    <ion-card *ngFor="let rest of resList">
      <img (click)="goToMealsPage(rest,user)" src={{rest.pic}}/>
      <ion-fab right top >
        <button ion-fab  (click)="goToMapPage(rest)">
          <ion-icon name="pin"> </ion-icon>
        </button>
      </ion-fab>
      <div (click)="goToMealsPage(rest,user)" class="card-title">{{rest.name}}</div>
      <div (click)="goToMealsPage(rest,user)" class="card-subtitle">
        <div>{{getKeysNum(rest.available)}} items</div>
        <div>{{getRating(rest.name)}} out of 5</div>
      </div>
    </ion-card>
  </div>
  <button ion-button (click)="pushNot()">Push Something</button>
</ion-content>
