<ion-header>
  
    <ion-navbar color="dark" >
      <button  ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title   *ngIf="user">Welcome {{user[0]}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content style="background-color:#853079" padding class="card-background-page outer-content">
    <div >
        <img class="icondir"
        src="https://images.vexels.com/media/users/3/128045/isolated/preview/e8fb0048acad6eb725295d4d77570085-heart-for-love-food-svg-by-vexels.png"/>
        
    <ion-item class="bord" style="width: 300px; background-color:#6e1f64 ;margin-bottom: 5px;" >
      <ion-label  >Sort By</ion-label>  
      <ion-select [(ngModel)]="sort" (ionChange)="sort1()">
        <ion-label>Sort By</ion-label>
          <ion-option value="Rating" >Sort By Rating  </ion-option>
          <ion-option value="Name">Sort By Name </ion-option>
      </ion-select>
    </ion-item>
  
      <ion-list>
        <ion-item class="borditem" *ngFor="let rest of resList" style="background-color:#6e1f64;margin-bottom: 5px; ">
          <!-- <div class="bord"> -->
          <ion-thumbnail  item-start>
            <img style="width:100px; height:100px" (click)="goToMealsPage(rest,user)" src={{rest.pic}}/>
          </ion-thumbnail>
            <div (click)="goToMealsPage(rest,user)" class="card-title">{{rest.name}}</div>
            <div class="textin" *ngIf="rest.available" >{{getKeysNum(rest.available)}} items</div>
            <div class="textin">{{getRating(rest.name)}} out of 5</div>
            <button ion-fab class="butcolor" item-end (click)="goToMapPage(rest)">
             <ion-icon name="pin"> </ion-icon>
            </button> 
        <!-- </div> -->
        </ion-item>
      
      </ion-list>
    </div>
  </ion-content>
  