page-meals {

    .view {
        font-size: 15px;
        font-family: serif;
    }
    .butprop{
        background-color: #e7e2a7;
        color:#5e3958;
        margin: auto;
        display: block;
      }
}
